 body{
	background-color: #A9A9A9;

}

h1{ 
	color: #000000;
}

p{
	color: #FCFAE1;
}

li{

	color: #000000;
}

.etude
{
	margin-right: 5%;
	margin-left: 5%;
}
.experience
{
	flex-wrap: wrap;
}
.titleetude{
	color: #FFFFFF;
	background-color: #333333;
	margin-right: 5%;
	margin-left: 5%;
	border: 5px solid white;
 	font-family: "Verdana", Verdana, serif; 
}
.titleexperience{
	color: #FFFFFF;
	background-color: #333333;
	margin-right: 5%;
	margin-left: 5%;
	border: 5px solid white;
	font-family: "Verdana", Verdana, serif; 
	padding-left: 50;

}
.enteteother{
	display: table-cell;
	text-align: center;
	width: 33%;
	vertical-align: middle;
}
.entetetitle{
	display: table-cell;
	text-align: center;
	width: 5%;
	vertical-align: middle;
}
.all{
	border: 5px solid black;
	vertical-align: middle;
}
.infosPerso
{
	text-align: center;
	border: 5px solid black;
	background-color: white; 
}
#pInfosPerso
{
	color: #FFFFFF
}

}





